/* Poppins and Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&family=Poppins:wght@500;600;700&display=swap');
/* roboto slab*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/* Anton, League Spartan, Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=League+Spartan:wght@100..900&display=swap');
/* Patrick Hand, Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Patrick+Hand&display=swap');

:root {
    --orange: #ff6200;
    --dark-gray: #1c1d1e;
    --white: #ffffff;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    height: 2.6rem;
    flex-shrink: 0;
    padding: 2rem 3rem;
    transition: opacity 200ms ease, transform 200ms ease;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--orange);
    justify-content: space-between;
    overflow: hidden;
}

nav * {
    color: #1c1d1e;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: large;
    text-decoration: none;
}

.exit-button {
    display: flex;
    font-weight: bold;
    transition: color 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
    padding: 8px;
    border-radius: 15px;
    background-color: var(--orange);
    border: none;
    cursor: pointer;
}

.exit-button:hover {
    color: black;
    background-color: #e65a00;
}

section {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    padding: 2rem 0;
}

.exercise-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.calculator {
    color: rgba(33, 36, 44, 0.50);
    text-align: center;
}

.statement {
    font-family: 'Inter', sans-serif;
    margin-top: 1rem;
}

.equation {
    margin-top: 1rem;
}

.image img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
    display: block;
    margin-top: 1rem;
    object-fit: contain;
}

.question {
    margin-top: 1rem;
    font-weight: 600;
}

.format_hint {
    margin-top: 0.25rem;
    font-style: italic;
    font-size: 1.05rem;
    font-weight: 300;
}

.answer_txt {
    margin-top: 1.5rem;
}
.answer-input {
    padding: 10px 15px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 25%;
    max-width: 300px;
}

.answer-input:focus {
    border-color: var(--orange);
    box-shadow: 0 0 0 3px rgba(255, 98, 0, 0.2);
}

.answers-instruction {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-style: italic;
}

footer {
    display: flex;
    background-color: white;
    justify-content: center;
    border-top: 3px solid #ff6200;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 4.5rem;
    gap: 5rem;
    padding: 0.5rem;
}

.nti.button {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.button.skip {
    background: none;
    border: none;
    color: #ff6200;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    padding: 0;
    height: auto;
}

.button.skip::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 0;
    height: 2px;
    background-color: #ff6200;
    transition: width 0.3s ease;
}

.button.skip:hover::after {
    width: 100%;
}

.button.check {
    background-color: #ff6200;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.6rem 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button.check:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(255, 98, 0, 0.3);
}

/* Contenedor compartido */
.option-container {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.option-container:hover {
    background-color: #f9f9f9;
}

/* Ocultar inputs originales */
.option-container input[type="radio"],
.option-container input[type="checkbox"] {
    display: none;
}

/* MC circle */
.custom-radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-right: 15px;
    transition: background-color 0.3s;
}

.option-container:hover .custom-radio {
    background-color: #ffb366;
}

.option-container input[type="radio"]:checked + .custom-radio {
    background-color: #ff6200;
}

/* MA checkbox */
.custom-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #e0e0e0;
    margin-right: 15px;
    transition: background-color 0.3s;
    position: relative;
}

/* Tilde al seleccionar */
.custom-checkbox::after {
    content: "✓";
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.option-container input[type="checkbox"]:checked + .custom-checkbox::after {
    opacity: 1;
}

.option-container:hover .custom-checkbox {
    background-color: #ffb366;
}

.option-container input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #ff6200;
}

/* Texto respuesta */
.answer-text {
    font-size: 18px;
}

/* Imagen respuesta */
.answer-img {
    max-width: 200px;
    max-height: 150px;
    object-fit: contain;
}

/* FB select style */

.answer-select {
    font-size: 1.3rem;
    text-align: center;
    padding: 6px 12px;
    padding-right: 2rem;
    border: 2px solid #1c1d1e;
    border-radius: 6px;
    background-color: #ffffff;
    color: #1c1d1e;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0 4px;
    appearance: none;
    /* Limpia estilos por defecto en algunos navegadores */
    background-image: url("data:image/svg+xml;charset=UTF-8,<svg fill='black' viewBox='0 0 140 140' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 140,0 70,90'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

.answer-select:focus {
    outline: none;
    border-color: #ff6200;
    /* Naranja vibrante */
    box-shadow: 0 0 5px rgba(255, 98, 0, 0.4);
}

.answer-select option {
    background-color: #ffffff;
    color: #1c1d1e;
}

.statement-fb {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 2rem;
}

/* Custom alert */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.alert-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--orange);
    color: white;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    height: 35vh;
    width: 30vw;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.alert-box button {
    margin: 0.5rem;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.confirm {
    background-color: var(--dark-gray);
    color: var(--orange);
}

.confirm:hover {
    color: white;
}

.cancel {
    background-color: var(--dark-gray);
    color: var(--orange);
}

.cancel:hover {
    color: white;
}

.hidden {
    display: none
}

.skip-disabled{
    opacity: 0.5;
    cursor: auto !important;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    background: none;
    border: none;
    color: #ff6200;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    padding: 0;
    height: auto;
}

.correct-answer-txt{
    color: green;
    margin-top: 0.75rem;
}

.correct-text {
    color: green;
    font-weight: bold;
    font-size: 1.2em;
}

.option-container-mcma-feedback {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin-bottom: 15px;
    background-color: #ffc1c1;
    color: rgba(28, 29, 30, 0.9);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    cursor: auto;
}

.option-container-mcma-feedback.correct{
    background-color: #ACF3A3;
    color: rgba(28, 29, 30, 0.9);
}

.option-container-mcma-feedback.correct.selected{
    background-color: #48E164;
    color: black;
}

.option-container-mcma-feedback.selected{
    background-color: rgba(255, 90, 90, 0.6);
    color: black;
}

.option-container-mcma-feedback input[type="radio"],
.option-container-mcma-feedback input[type="checkbox"] {
    display: none;
}

.custom-radio-feedback {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin-right: 15px;
    transition: background-color 0.3s;
}

/* Background color for selected icon mc */
.option-container-mcma-feedback input[type="radio"]:checked + .custom-radio-feedback {
    background-color: #4a90e2;
}

/* MA checkbox */
.custom-checkbox-feedback {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #e0e0e0;
    margin-right: 15px;
    transition: background-color 0.3s;
    position: relative;
}

/* Tilde al seleccionar */
.custom-checkbox-feedback::after {
    content: "✓";
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.option-container-mcma-feedback input[type="checkbox"]:checked + .custom-checkbox-feedback::after {
    opacity: 1;
}

/* Background color for selected icon ma */
.option-container-mcma-feedback input[type="checkbox"]:checked + .custom-checkbox-feedback {
    background-color: #4a90e2;
}

.answer-select.correct {
    border: 2px solid green;
    color: green;
    opacity: 1;
    cursor: auto;
}

.answer-select.incorrect {
    border: 2px solid red;
    color: red;
    opacity: 1;
    cursor: auto;
}

/* Shake effect */
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-8px); }
  40% { transform: translateX(8px); }
  60% { transform: translateX(-6px); }
  80% { transform: translateX(6px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.5s ease-in-out;
}