{% extends "index.html" %}

{% block title %}
    Test
{% endblock %}

{% block css %}
    <!-- styles.css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
{% endblock %}

{% block js %}
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['\\(', '\\)']],
                displayMath: [['\\[', '\\]']]
            },
            svg: {
                fontCache: 'global'
            },
            options: {
                renderActions: {
                    addMenu: []  // Opcional: desactiva el menú para prevenir cambios
                }
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
{% endblock %}

{% block main %}
    <nav class="nav">
            <div class="nav-home">
                <form id="exit" action="/exit-test" method="post"></form>
                <input form="exit" type="hidden">
                <button form="exit">KnowYourMath</button>
            </div>
            <div class="nav-session">
                <a href="">{{ username }}</a>
            </div>
        </div>
    </nav>
    <section>
        <div class="exercise-container">
            
            {% if question.type_name == "nti" or question.type_name == "mc" or question.type_name == "ma" %}
                {% if question.calculator %}
                    <div class="calculator"> You may use: Calculator </div>
                {% endif %}

                {% if question.statement %}
                    <div class="statement"> {{ question.statement | safe }} </div>
                {% endif %}

                {% if question.equation %}
                    <div class="equation"> {{ question.equation | safe }} </div>
                {% endif %}

                {% if question.image_url %}
                    <div class="image">
                        <img src="{{ question.image_url }} " alt="">
                    </div>
                {% endif %}

                {% if question.question %}
                    <div class="question"> {{ question.question | safe }} </div>
                {% endif %}

                {% if question.type_name == "nti" %}

                    {% if question.format_hint %}
                        <div class="format_hint"> {{ question.format_hint | safe }} </div>
                    {% endif %}

                    <div class="answer_txt"> {{ question.answer_txt | safe }} </div>

                    <div class="correct-answer-txt"> {{ question.correct_answer_txt | safe }} </div>



                {% elif question.type_name == "mc" %}
                    <div class="answers-instruction">
                        Choose 1 answer:
                    </div>
                    {% for ans in question.answers %}
                        <label class="option-container-mcma-feedback {% if ans.selected %}selected{% endif %} {% if ans.is_correct %}correct{% endif %}">
                            <input disabled type="radio" name="answer" value="{{ ans.answer }}" {% if ans.selected %}checked{% endif %}> 
                            <span class="custom-radio-feedback"></span>

                            {% if ans.type == 'text' %}
                                <span class="answer-text">{{ ans.answer | safe }}</span>
                            {% elif ans.type == 'img' %}
                                <img src="{{ ans.answer }}" alt="Answer Image" class="answer-img">
                            {% endif %}
                        </label>
                    {% endfor %}    
                
                {% elif question.type_name == "ma" %}
                    
                    <div class="answer-instruction">
                        Choose all that apply:
                    </div>
                    {% for ans in question.answers %}
                        <label class="option-container-mcma-feedback {% if ans.selected %}selected{% endif %} {% if ans.is_correct %}correct{% endif %}">
                            <input disabled type="checkbox" name="answer" value="{{ ans.answer }}" {% if ans.selected %}checked{% endif %}>
                            <span class="custom-checkbox-feedback"></span>
                            
                            {% if ans.type == 'text' %}
                                <span class="answer-text">{{ ans.answer }}</span>
                            {% elif ans.type == 'img' %}
                                <img src="{{ ans.answer }}" alt="Answer Image" class="answer-img">
                            {% endif %}
                        </label>
                    {% endfor %}
                {% endif %}
                
                
            {% elif question.type_name == "fb" %}
                {% if question.calculator %}
                    <div class="calculator"> You may use: Calculator </div>
                {% endif %}

                {% if question.equation %}
                    <div class="equation"> {{ question.equation | safe }} </div>
                {% endif %}

                {% if question.image_url %}
                    <div class="image">
                        <img src="{{ question.image_url }} " alt="">
                    </div>
                {% endif %}
                    <div class="statement-fb">
                        {{ question.statement_improved | safe }}
                    </div>
                {% if not correct %}
                    <p class="correct-answer-txt">
                        Correct answer: {{ question.correct_answer }}
                    </p>
                {% endif %}
            {% endif %}
        </div>
        <p>{{ question.id }}</p>
        <p>{{ question.level }}</p>
    </section>
    <footer>
        <button id="skipBtn" class="skip-disabled" disabled>
            Skip
        </button>
        <form id="next_question" action="/feedback" method="POST"></form>
        <button form="next_question" class="nti button check">
            Next question
        </button>
    </footer>
{% endblock %}