{% extends "index.html" %}

{% block title %}
    Test
{% endblock %}

{% block css %}
    <!-- styles.css link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
{% endblock %}

{% block js %}
    <!-- test.js link -->
    <script defer src="{{ url_for('static', filename='js/test.js') }}"></script>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['\\(', '\\)']],
                displayMath: [['\\[', '\\]']]
            },
            svg: {
                fontCache: 'global'
            },
            renderActions: {
                addMenu: []  // Opcional: desactiva el menú para prevenir cambios
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
{% endblock %}

{% block main %}
    <nav class="nav">
        <div class="nav-home">
            <a class="exit-button action-btn" onclick="handleClick(this)" href="/">KnowYourMath</a>
        </div>
        <div class="nav-session">
            <a>{{ username }}</a>
        </div>
        </div>
    </nav>
    <!-- Custom alert -->
    <div id="customAlert" class="overlay hidden">
        <div class="alert-box">
            <h3>Are you sure?</h3>
            <p>This will count as a wrong answer.</p>
            <form method="post" action="/skip">
                <button type="submit" class="confirm action-btn" onclick="handleClick(this)">Yes, skip</button>
                <button type="button" class="cancel" id="cancelSkip">Cancel</button>
            </form>
        </div>
    </div>
    <section>
        <div class="exercise-container">
            
            {% if question.type_name == "nti" or question.type_name == "mc" or question.type_name == "ma" %}
                {% if question.calculator %}
                    <div class="calculator"> You may use: Calculator </div>
                {% endif %}

                {% if question.statement %}
                    <div class="statement"> {{ question.statement | safe }} </div>
                {% endif %}

                {% if question.equation %}
                    <div class="equation"> {{ question.equation | safe }} </div>
                {% endif %}

                {% if question.image_url %}
                    <div class="image">
                        <img src="{{ question.image_url }} " alt="">
                    </div>
                {% endif %}

                {% if question.question %}
                    <div class="question"> {{ question.question | safe }} </div>
                {% endif %}

                {% if question.type_name == "nti" %}

                    {% if question.format_hint %}
                        <div class="format_hint"> {{ question.format_hint | safe }} </div>
                    {% endif %}

                    <form id="answer_form" method="post" action="/check"></form>
                    <input form="answer_form" type="hidden" name="action" value="check">
                    <div class="answer_txt"> {{ question.answer_txt_nti | safe }} </div>



                {% elif question.type_name == "mc" %}
                    <div class="answers-instruction">
                        Choose 1 answer:
                    </div>
                    <form id="answer_form" method="post" action="/check">
                        <input type="hidden" name="action" value="check">
                    {% for ans in question.answers %}
                        <label class="option-container">
                        <input type="radio" name="answer" value="{{ ans.answer}}">
                        <span class="custom-radio"></span>

                        {% if ans.type == 'text' %}
                            <span class="answer-text">{{ ans.answer | safe }}</span>
                        {% elif ans.type == 'img' %}
                            <img src="{{ ans.answer }}" alt="Answer Image" class="answer-img">
                        {% endif %}
                        </label>
                    {% endfor %}    
                    </form>
                
                {% elif question.type_name == "ma" %}
                    
                    <div class="answer-instruction">
                        Choose all that apply:
                    </div>
                    <form id="answer_form" method="post" action="/check">
                        <input type="hidden" name="action" value="check">
                    {% for ans in question.answers %}
                        <label class="option-container">
                        <input type="checkbox" name="answer" value="{{ ans.answer }}">
                        <span class="custom-checkbox"></span>
                        
                        {% if ans.type == 'text' %}
                            <span class="answer-text">{{ ans.answer }}</span>
                        {% elif ans.type == 'img' %}
                            <img src="{{ ans.answer }}" alt="Answer Image" class="answer-img">
                        {% endif %}
                        </label>
                    {% endfor %}
                    </form>

                {% endif %}
                
                
            {% elif question.type_name == "fb" %}
                {% if question.calculator %}
                    <div class="calculator"> You may use: Calculator </div>
                {% endif %}

                {% if question.equation %}
                    <div class="equation"> {{ question.equation | safe }} </div>
                {% endif %}

                {% if question.image_url %}
                    <div class="image">
                        <img src="{{ question.image_url }} " alt="">
                    </div>
                {% endif %}

                <form id="answer_form" method="post" action="/check">
                    <input type="hidden" name="action" value="check">
                    <div class="statement-fb">
                      {{ question.statement_improved | safe }}
                    </div>
                  </form>
            {% endif %}
        </div>
    </section>
    <footer>
        <button id="skipBtn" class="nti button skip">
            Skip
        </button>
        <button form="answer_form" class="nti button check action-btn" onclick="handleClick(this)">
            Check
        </button>
    </footer>
{% endblock %}